# Programming Project

Introduction

In this project I will: 
1. Choose a real-world phenomenon that can be measured and for which I could collect at least one-hundred data points across at least four diï¬€erent variables.
2. Investigate the types of variables involved, their likely distributions, and their relationships with each other.   
3. Simulate a data set as closely matching their properties as possible. 
4. Detail my research and implement the simulation in this Jupyter notebook.

In this excercise I will create a dataset that will show which months is most affordable to buy shoes.
I decided to do this dataset baased on the research I found.

From "name of the website" i found that from:
- January to March Sandals are 20% cheaper
- April to August Boots are 55% cheaper
- September to October High Heels are 20% chepear 
- November to December Runners are 40% chepear

This helped me to estimate the price of the types of shoes during those months taking into condsideration that average prize spend of shoes are 75%.

Then I decided to add a column of size available during those months. The constrains I gaev this columns is that during the months were the shoes are chepear the most popular size of shoe is not available (38).  

I am going to look at it from the perspective that I need to build the final picture and then work towards it.

by analyizng informaiton of shoes can I determine the most wanted types of shoe.

In [2]:
#Libraries
import numpy as np
import pandas as pd

In [3]:
df = pd.DataFrame(np.random.randn(10, 4), columns=list('abcf')) #expolring code that can be used for my datset
df #columns=list only generates 4 columns
#and random.randn is not a function I want

          a         b         c         f
0  0.042848  0.740803 -0.399834 -0.430842
1 -1.392756 -0.294500  0.477388 -1.205402
2 -1.895236  2.614929  0.670650 -0.874111
3  0.749566 -0.142891 -0.062465 -1.432271
4  0.035562 -1.408178  0.621947 -0.600143
5  1.466324 -0.356735 -1.475491 -0.191205
6  0.563347 -0.161254 -0.801484  1.070192
7  1.152144 -0.812677 -1.044960  0.074160
8  0.460621 -0.994448 -0.697380  0.496028
9  0.381457  1.128208 -0.032665  1.006798

In [10]:
df = pd.DataFrame(np.random.randint(0,100,size=(10, 4)), columns=list('ABCD')) #randint accepts the size
# creates an output array of size (10,4) with random integer elements between (0,100)
df #still not exactly what I am looking for.
#I want each column to be named differently and have still relative data within its true range

    A   B   C   D
0  30  95   9  72
1  96  19  91   9
2  93  58  20  58
3  58  96  94  80
4  47   5  19  60
5   7  53  98  88
6  62  84  85  69
7  60  39  46  71
8  15  63  56  19
9  64  19  81  12

In [5]:
df = pd.DataFrame(np.random.randint(0,100,size=(10, 6)), columns=list('ABCDEF'))
df # more columns by increaing the size

    A   B   C   D   E   F
0  72   2  63  37  62  54
1   1  52  89  80  40  52
2  59  24  57  86  45  69
3  56   6  10  18  61  21
4  52  57  77  58  71  71
5  91  96  49  72  63  56
6  82  71  87  41  45  13
7  90  57  84  87  23  58
8  97  42  90  13  53  31
9  30  18  10  82  79  75

In [16]:
#now I want to name the columns
df = pd.DataFrame(np.random.randint(0,100,size=(10, 4)), columns=('shoe size','shoe type','prize','available'))
df # what we have here is randomly generated numbers between 0 to 100
# 5 columns and 10 varibles
# this is not exactly what I am looking for
# I think we need more numerical values

   shoe size  shoe type  prize  available
0         70         17     62         21
1         10         72     31          3
2         73         61     64         47
3         23         94     34         10
4         42         53     89         48
5         53         15      6         99
6         10         64     98         33
7         43         66     62         63
8         10         68     39         89
9         47         94     24         72

In [28]:
# Im going to seed the data 
np.random.seed(100)
# Im going to focus on fist column first 'shoe size'
# As this is women size it starts from 35 to 42
#this is defining them at random but maybe i should set them from 35 to 43 
#this way I have a defined that size matters on the price and type ??
df = pd.DataFrame({"shoe size": np.random.randint(35,43,100)}) #this only gives me 10 samples of shoe 
#between 35 and 42
df.tail(10) #shows last 10 data points

    shoe size
90         38
91         40
92         41
93         35
94         40
95         36
96         39
97         37
98         38
99         41

In [31]:
np.random.seed(100)

    shoe size
0          35
1          35
2          38
3          42
4          42
5          42
6          35
7          37
8          41
9          39
10         37
11         40
12         37
13         37
14         41
15         37
16         36
17         35
18         35
19         42
20         39
21         38
22         39
23         37
24         35
25         38
26         36
27         40
28         41
29         37
..        ...
70         41
71         39
72         37
73         35
74         35
75         37
76         40
77         37
78         36
79         35
80         40
81         37
82         41
83         36
84         40
85         39
86         37
87         35
88         38
89         38
90         38
91         40
92         41
93         35
94         40
95         36
96         39
97         37
98         38
99         41

[100 rows x 1 columns]

In [18]:
Colors = ['pink','blue','green','camel','grey','nude'] #set number of different colors available 
#Set that colors will be generated randomly
df = pd.DataFrame({"Colors": np.random.choice(Colors)})

ValueError: If using all scalar values, you must pass an index

In [ ]:
https://www.shanelynn.ie/using-pandas-dataframe-creating-editing-viewing-data-in-python/

maybe add the price when your doing the analysis?